.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(225, 225, 225, 0.9);
  z-index: 9999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.nav_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.menu_icon .hamberger {
  font-size: 3rem;
  cursor: pointer;
  border: 2px solid gray;
}
.menu_icon {
  display: none;
}
.nav_logo {
  font-size: 2.7rem;
  font-weight: 600;
  cursor: pointer;
}
.nav_logo::first-letter {
  color: brown;
}
.nav_items,
.nav_icons {
  display: flex;
  align-items: center;
}
.nav_list,
.nav_icons-list {
  list-style: none;
  margin-right: 2rem;
}

.nav_list:last-child,
.nav_icons-list:last-child {
  margin-right: 0rem;
}
.nav_links {
  font-size: 2.7rem;
  text-decoration: none;
  color: #000;
  letter-spacing: 1px;
}
.nav_links:hover {
  border-bottom: 2px solid rgb(102, 102, 102);
}
.nav_icons-links .shopingIcon,
.nav_icons-links .userIcon {
  font-size: 2.5rem;
  color: #000;
}
.nav_icons-links .shopingIcon {
  position: relative;
}
.qty {
  color: #fff;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 4%;
  font-size: 1.6rem;
  padding: 0rem 0.5rem;
}

/* media query */
@media (max-width: 630px) {
  .nav_items {
    position: absolute;
    top: 100%;
    left: -120%;
    width: 50%;
    height: 100vh;
    display: block;
    background-color: brown;
    z-index: 9999;
    text-align: center;
    align-items: center;
  }
  .nav_items.active {
    left: 0%;
  }
  .nav_links {
    display: block;
    width: 100%;
    color: #fff;
  }
  .nav_links:hover {
    border-bottom: none;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
  }
  .nav_list {
    margin-top: 5rem;
  }
  .menu_icon {
    display: block;
  }
}
